<!-- Using template tag -->
{% extends 'main.html' %}

{% block content %}

<main class="layout layout--3">
    <div class="container">
      <!-- Topics Start -->
      {% include 'base/components/browse_topics.html' %}
      <!-- Topics End -->

      <!-- Room List Start -->
        {% include 'base/components/feed_component.html' %}
      <!-- Room List End -->

      <!-- Activities Start -->
      {% include 'base/components/recent_activity.html' %}
      <!-- Activities End -->
    </div>
</main>

{% endblock %}